form#render-form, form#cut-form {
    width: 50%;
}

.progress {
    height: 40px;
}

.progress-bar {
    font-size: 20px;
    line-height: 40px;
    color: white;
    font-weight: bold;
}

.timeline {
    position: relative;
    overflow: auto;
}

.timeline:before {
    left: 50%;
}

.timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background: #dddddd;
}

.hs-spree {
    /*float:left;*/
    margin: 10px;
}

@media (min-width: 1400px) {
    .container {
        width: 1310px;
    }
}
