{% extends "layout.html" %}
{% block title %}Demo cut{% endblock %}

{% block content %}
<h1>Cut</h1>
<p>
    Cuts demo file.
</p>
{% from "form.html" import render_form, render_btn %}
<form method="post" action="" enctype="multipart/form-data" class="form-horizontal">
    <h3>Cut by uploading demofile</h3>
    {{ render_form(form1) }}
    <h3>Cut gamestv match</h3>
    {{ render_form(form2) }}
    <hr/>
    <h3>Cut parameters</h3>
    {{ render_form(cut_form) }}
    {{ render_btn("Cut") }}
    <hr/>
    <label class="col-sm-offset-2">
        <sup>*</sup> Client number required to choose POV for ETTV demo
    </label>
</form>

{% endblock %}
