{% extends "layout.html" %}
{% block title %}Export demo{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .col2 {
          border: 1px solid green;
        }
    </style>
{% endblock %}

{% block content %}
<h1>Export demo</h1>
<p>
    Parses demo file into json.
</p>
<form action="" method="post" enctype="multipart/form-data">
  <label class="control-label col-sm-2">Demo:</label>
  <div class="col-sm-4">
    <input class="form-control" type="file" name="file"/>
  </div>
  <label class="control-label col-sm-2">or match link:</label>
  <div class="col-sm-4">
    <input class="form-control" placeholder="http://www.gamestv.org/event/56051-tag-vs-elysium/" type="text" name="matchId"/>
  </div>
    <label class="control-label col-sm-2">map number:</label>
  <div class="col-sm-10">
    <input class="form-control" type="text" name="map" value="1">
  </div>
  <label class="col-sm-12">
    If you don't fill anything, last uploaded demo will be used
  </label>
  {#
  <label class="control-label col-sm-2">Client number (for eventexport)</label>
  <div class="col-sm-10">
    <input class="form-control" type="text" name="clientnum" value=""/>
  </div>
  #}
  <input type="submit" class="btn btn-default" value="Export"/>
</form>
{% endblock %}