{% extends "layout.html" %}
{% block title %} - Export output{% endblock %}

{% block content %}
<h1>Export output</h1>

<h2>Demo info</h2>
{% for data in parser_out.demo %}
	<b>{{ data }}</b>  {{ parser_out.demo[data] }} <br/>
{% endfor %}

<h2>Round info</h2>
{% for round in parser_out.rounds %}
	{% for data in round %}
		{% if data=='szEndRoundStats' %}
			<b>{{ data }}</b> <pre>{{ round[data] }} </pre>
		{% else %}
			<b>{{ data }}</b> {{ round[data] }} <br/>
		{% endif %}
	{% endfor %}
{% endfor %}

<h2>Sprees</h2>

<script type="text/javascript">
function fillForm(e) {
	$('form').show();
	parameters=["title","start","end","client_num"];
	for (i=0;i<parameters.length;i++) {
		$('form #'+parameters[i]).val($(e).parent().attr('data-'+parameters[i]));
	}
}
</script>


{% for player in parser_out.players %}
	{% for spree in player.sprees %}
		<div data-title="{{ player['szCleanName'] }}'s {{ spree|length }}-man kill" data-client_num="{{ player['bClientNum'] }}" data-start="{{ spree[0]['dwTime'] }}" data-end="{{ spree[spree|length - 1]['dwTime'] }}">
			{% for kill in spree %}
				<span{% if kill.bIsTeamkill %} style="color:red;"{% endif %}>{{ kill.bAttacker }} {{ kill.bTarget }} {{ kill.szTimeString }} {{ kill.szMessage }} {{ kill.dwTime }}</span><br/>
			{% endfor %}
			<a class="btn btn-default btn-lg" href="#render-form" onclick="fillForm(this);">
				<span style="width:20px" class="glyphicon glyphicon glyphicon-film"></span> Render
			</a>
		</div>
		<br/>{{ spree.interval }}<br/>
	{% endfor %}
{% endfor %}

{% from "form.html" import render_form, render_btn %}
<form method="post" style="display:none;" id="render-form" action="/renders" enctype="multipart/form-data" class="form-horizontal panel panel-default">
    <div class="panel-heading" style="margin-bottom:10px">Render parameters</div>
	{{ render_form(rndr_form) }}
    {{ render_form(cut_form) }}
    {{ render_btn("Render") }}
    <hr/>
    <label class="col-sm-offset-2">
        <sup>*</sup> Client number only needed for ETTV demo to choose POV
    </label>
</form>

{#
<div style="">
	<h3>Hit regions</h3>
	<p>
		Hitregions:
		131 - body or dead body(gibbing)
		130 - head
		0 - target has spawnshield
		132 teammate hit
	</p>
	<table>
		<tr><td>Player</td><td>Hitregion</td><td>Count</td></tr>
	{% for row in parser_out.hits %}
		<tr>
			{% for column in row %}
			<td>{{ column }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
	</table>
</div>
#}
<h2>Hit regions</h2>
<table class="table">
	<thead>
		<tr>
			<th>clientNum</th>
			<th>Player</th>
			<th>Bodyshots<sup>*</sup></th>
			<th>Headshots</th>
			<th>Team-hits</th>
			<th>Shield-hits</th>
		</tr>
	</thead>

{% for player in parser_out.players %}

<tr>
	<td>
		{{ player.bClientNum }}
	</td>
	<td>
		{{ player.szCleanName }}
	</td>

	<td>
		{{ player.hits[2] }}
	</td>
	<td>
		{{ player.hits[1] }}
	</td>
	<td>
		{{ player.hits[3] }}
	</td>
	<td>
		{{ player.hits[0] }}
	</td>

</tr>

{% endfor %}

</table>
<sup>*</sup> with gibbing hits

<div class="timeline">

</div>


<h2>Raw output</h2>
<pre>
{{ out }}
</pre>
{% endblock %}