{% extends "layout.html" %}

{% from "form.html" import render_form, render_btn %}

{% block title %} - Export output{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/countries.css" />
{% endblock %}


{% block content %}
<h1>Export output</h1>

{% if ((export_id is defined) and (map_num is defined)) %}
<a href="/export/{{ export_id }}/{{map_num+2}}">next map</a>
{% endif %}
{% if players|count %}
	<h2>Highlights</h2>
	{% include 'render_list.html' %}
{% endif %}

{#
{% for g_player in parser_out.g_players %}
	<p>{{ g_player.name }}{{ g_player.country }}</p>
{% endfor %}
#}

<h2>Hit regions & revives</h2>
<table class="table">
	<thead>
		<tr>
			<th>clientNum</th>
			<th>nick</th>
			<th>Player profile</th>
			<th>Bodyshots<sup>*</sup></th>
			<th>Headshots</th>
			<th>Team-hits</th>
			<th>Shield-hits</th>
			<th>Revives</th>
			<th>Got revived</th>
		</tr>
	</thead>

{% for player in parser_out.players %}
	{% if player.hits[0]>0 or player.hits[1]>0 or player.hits[2]>0 or player.hits[3]>0 %}
		<tr>
			<td>
				{{ player.bClientNum }}
			</td>
			<td>
				{{ player.szCleanName }}
			</td>

			<td>
				{% if player.name is defined and player.name!=None %}
					<a href="{{ url_for('players',player_id=player.id) }}">{{ player.name }}</a><img src="http://www.gamestv.org/images/flags/{{ player.country }}.gif" />
				{% else %}
				<form method="post" action="/players" enctype="multipart/form-data">
					{{ render_form(player.form) }}
					{{ render_btn("Save") }}
				{% endif %}
				</form>
			</td>

			<td>
				{{ player.hits[2] }}
			</td>
			<td>
				{{ player.hits[1] }}
			</td>
			<td>
				{{ player.hits[3] }}
			</td>
			<td>
				{{ player.hits[0] }}
			</td>

			<td>
				{{ player.revives }}
			</td>
			<td>
				{{ player.revived }}
			</td>

		</tr>
	{% endif %}
{% endfor %}

</table>
<sup>*</sup> with gibbing hits

<h2>Sprees</h2>

<script type="text/javascript">
function fillForm(e) {
	$('form').show();
	parameters=["title","start","end","client_num"];
	for (i=0;i<parameters.length;i++) {
		value=$(e).parent().attr('data-'+parameters[i]);
		$('form #'+parameters[i]).attr('value',value)
		$('form #'+parameters[i]).val(value);
	}
}

var g_players = {{ parser_out.g_players|tojson|safe }};

</script>


{% for player in parser_out.players %}
	{% for spree in player.sprees %}
		<div data-title="{{ player['szCleanName'] }}'s {{ spree|length }}-man kill" data-client_num="{{ player['bClientNum'] }}" data-start="{{ spree[0]['dwTime']-2000 }}" data-end="{{ 2000+spree[spree|length - 1]['dwTime'] }}">
			{% for kill in spree %}
				<span{% if kill.bIsTeamkill %} style="color:red;"{% endif %}>{{ kill.bAttacker }} {{ kill.bTarget }} {{ kill.szTimeString }} {{ kill.szMessage }} {{ kill.dwTime }}</span><br/>
			{% endfor %}
			<a class="btn btn-default btn-lg" href="#render-form" onclick="fillForm(this);">
				<span style="width:20px" class="glyphicon glyphicon glyphicon-film"></span> Render
			</a>
			<a class="btn btn-default btn-lg" href="#cut-form" onclick="fillForm(this);">
				<span style="width:20px" class="glyphicon glyphicon glyphicon-scissors"></span> Cut
			</a>
		</div>
		<br/>{{ spree.interval }}<br/>
	{% endfor %}
{% endfor %}

<h2>Headshot Sprees</h2>

{% for player in parser_out.players %}
	{% for hs_spree in player.hs_sprees %}
		<div class="hs-spree" data-title="{{ player['szCleanName'] }}'s {{ hs_spree|length }}-headshots spree" data-client_num="{{ player['bClientNum'] }}" data-start="{{ hs_spree[0]['dwTime']-2000 }}" data-end="{{ 2000+hs_spree[hs_spree|length - 1]['dwTime'] }}">
			{{ player.szCleanName }} HS Count: {{ hs_spree|length }} Length:{{ hs_spree[hs_spree|length - 1]['dwTime']-hs_spree[0]['dwTime'] }}<br/>
			{% for hs in hs_spree %}
				{{ hs.bAttacker }} {{ hs.bTarget }} {{ hs.dwTime }} {{ hs.eventNum }}<br/>
			{% endfor %}
			<a class="btn btn-default btn-lg" href="#render-form" onclick="fillForm(this);">
				<span style="width:20px" class="glyphicon glyphicon glyphicon-film"></span> Render
			</a>
			<a class="btn btn-default btn-lg" href="#cut-form" onclick="fillForm(this);">
				<span style="width:20px" class="glyphicon glyphicon glyphicon-scissors"></span> Cut
			</a>
		</div>
	{% endfor %}
{% endfor %}


{% for player in parser_out.players %}
	{% for trick in player.rifletricks %}
		<div class="rifletrick" data-title="{{ player['szCleanName'] }}'s rifletrick" data-client_num="{{ player['bClientNum'] }}" data-start="{{ trick['dwTime']-6000 }}" data-end="{{ 2000+trick['dwTime'] }}">
			{{ player.szCleanName }} From: To: Distance: {{ trick.distance }}<br/>
				{{ trick.bAttacker }} {{ trick.bTarget }} {{ trick.szTimeString }} {{ trick.szMessage }} {{ trick.dwTime }} <br/>
			<a class="btn btn-default btn-lg" href="#render-form" onclick="fillForm(this);">
				<span style="width:20px" class="glyphicon glyphicon glyphicon-film"></span> Render
			</a>
		</div>
	{% endfor %}
{% endfor %}

<form method="post" id="render-form" action="/renders" enctype="multipart/form-data" class="form-horizontal panel panel-default">
    <div class="panel-heading" style="margin-bottom:10px">Render parameters</div>
	{{ render_form(rndr_form) }}
    {{ render_form(cut_form) }}
    {{ render_btn("Render") }}
    <hr/>
    <label class="col-sm-offset-2">
        <sup>*</sup> Client number only needed for ETTV demo to choose POV
    </label>
</form>

<form method="post" id="cut-form" action="/cut" enctype="multipart/form-data" class="form-horizontal panel panel-default">
    <div class="panel-heading" style="margin-bottom:10px">Cut parameters</div>
    {{ render_form(cut_form) }}
    {{ render_btn("Cut") }}
    <hr/>
    <label class="col-sm-offset-2">
        <sup>*</sup> Client number only needed for ETTV demo to choose POV
    </label>
</form>

{#
<div style="">
	<h3>Hit regions</h3>
	<p>
		Hitregions:
		131 - body or dead body(gibbing)
		130 - head
		0 - target has spawnshield
		132 teammate hit
	</p>
	<table>
		<tr><td>Player</td><td>Hitregion</td><td>Count</td></tr>
	{% for row in parser_out.hits %}
		<tr>
			{% for column in row %}
			<td>{{ column }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
	</table>
</div>
#}

<h2>Demo info</h2>
{% for data in parser_out.demo %}
	{% if data=='szServerConfig' %}
		<b>{{ data }}</b> <pre>{{ parser_out.demo[data] }} </pre>
	{% else %}
		<b>{{ data }}</b> {{ parser_out.demo[data] }} <br/>
	{% endif %}
{% endfor %}

<h2>Round info</h2>
{% for round in parser_out.rounds %}
	{% for data in round %}
		{% if data=='szEndRoundStats' %}
			<b>{{ data }}</b> <pre>{{ round[data] }} </pre>
		{% else %}
			<b>{{ data }}</b> {{ round[data] }} <br/>
		{% endif %}
	{% endfor %}
{% endfor %}

<div class="timeline">

</div>


<h2>Raw output</h2>
<pre>
{{ out }}
</pre>
{% endblock %}