{% extends "layout.html" %}
{% block title %} - Export output{% endblock %}

{% block content %}
<h2>Export output</h2>

<h2>Sprees</h2>


{% for player in parser_out.players %}
	{% for spree in player.sprees %}
	    {% for kill in spree %}
	    	{{ kill.bAttacker }} {{ kill.bTarget }} {{ kill.szTimeString }} {{ kill.szMessage }} {{ kill.dwTime }}<br/>
		{% endfor %}
		<br/>{{ spree.interval }}<br/>
	{% endfor %}
{% endfor %}
<p>
	Hitregions:
	131 - body or dead body(gibbing)
	130 - head
	0 - target has spawnshield
	132 teammate hit
</p>
<table>
	<tr><td>Player</td><td>Hitregion</td><td>Count</td></tr>
{% for row in parser_out.hits %}
    <tr>
    	{% for column in row %}
    	<td>{{ column }}</td>
		{% endfor %}
    </tr>
{% endfor %}
</table>


<h2>Raw output</h2>
<pre>
{{ out }}
</pre>
{% endblock %}