<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/open-iconic/font/css/open-iconic-bootstrap.min.css')}}">
    <link rel="stylesheet" href="/static/style.css" />
    <title>W:ET demo tools {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <a class="navbar-brand align-middle" href="#">
                <img src="/static/logo-plain.svg" width="160" class="d-inline-block" alt="" loading="lazy">
                W:ET demo tools
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" href="/"><span class="oi oi-info"></span> README</a></li>
                <li class="nav-item"><a class="nav-link" href="/cut"><span class="oi oi-resize-width"></span> Cut</a></li>
                <li class="nav-item"><a class="nav-link" href="/export"><span class="oi oi-share"></span> Export</a></li>
                {#
                    <li><a href="/matches"><span class="oi oi-"></span> Matches</a></li>
                    <li><a href="/players"><span class="oi oi-"></span> Players</a></li>
                #}
                <li class="nav-item"><a class="nav-link" href="/renders"><span class="oi oi-video"></span> Renders</a></li>
                <li class="nav-item"><a class="nav-link" href="/status"><span class="oi oi-pulse"></span> Status</a></li>
            </ul>

        </nav>
        <div id="content">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-warning">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block content %}{{ msg|safe }}{% endblock %}
        </div>
        <div id="footer">
            <hr/>
            {% block footer %}
            &copy; Copyright 2016 by <a href="https://github.com/mittermichal">Michal 'Kimi' Mitter</a>.
            <a class="btn btn-outline-primary" href="https://github.com/mittermichal/advanced-gamestv-stats"><object style="width: 16px;height:16px" data="/static/mark-github.svg" type="image/svg+xml"></object> View on Github</a>
            {% endblock %}
        </div>
    </div>
</body>
</html>