<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>gtv_match_id</th>
      <th>map number</th>

    </tr>
  </thead>
  <tbody>
{% for render in renders %}
    <tr>
        <td><a href="{{ url_for('render_get',render_id=render.id) }}">{{ render.id }} </a></td>
        <td><a href="{{ url_for('render_get',render_id=render.id) }}">{{ render.title }} </a></td>
        <td> {{ render.gtv_match_id }}</td>
        <td> {{ render.map_number }}</td>
    <tr/>
{% endfor %}
  </tbody>
</table>
{#
  <video controls>
    <source src="/static/render.mp4" type="video/mp4">
  </video>
  <a href="/static/render.mp4">Download render</a>
#}