{% extends "layout.html" %}
{% block title %}Download{% endblock %}



{% block content %}
<h2>Downloads</h2>

<table>
{% for file in files %}
    <tr>
        <td><a href="{{ url_for('main.download_static',path=file.path) }}">{{ file.name }}</a></td>
        <td>
            <a href="{{ url_for('main.download_static',path=file.path, dl=1) }}">
                <span class="oi oi-data-transfer-download"></span>
            </a>
        </td>
        <td> {{ file.formatted_ctime }} </td>
    </tr>
{% endfor %}
</table>

{% endblock %}

