{% extends "layout.html" %}

{% from "form.html" import render_form, render_btn %}

{% block title %} - Export output{% endblock %}


{% block content %}
<h1>Export output</h1>

{% if ((export_id is defined) and (map_num is defined)) %}
<a href="{{ url_for('main.export_get',gtv_match_id=export_id,map_num=map_num+2) }}">next map</a>
{% endif %}
{% if players|count %}
	<h2>Highlights</h2>
	{% include 'render_list.html' %}
{% endif %}

{#
{% for g_player in parser_out.g_players %}
	<p>{{ g_player.name }}{{ g_player.country }}</p>
{% endfor %}
#}

<h2>Hit regions & revives</h2>
<table class="table">
	<thead>
		<tr>
			<th>clientNum</th>
			<th>nick</th>
			{#<th>Player profile</th>#}
			{% for region in parser_out.hit_regions %}
			<th>{{ region }}</th>
			{% endfor %}
			{% if parser_out.isETTV %}
			<th>Revives</th>
			<th>Got revived</th>
			{% endif %}
		</tr>
	</thead>

{% for player in parser_out.players %}
	{% if player.has_hits %}
		<tr{{ {"class":"table-primary"}|xmlattr if player.bClientNum==parser_out.demo.bPOVId }}>
			<td>
				{{ player.bClientNum }}
			</td>
			<td>
				{{ player.szCleanName }}
			</td>

			{#<td>
				{% if player.name is defined and player.name!=None %}
					<a href="{{ url_for('main.players',player_id=player.id) }}">{{ player.name }}</a><img src="http://www.gamestv.org/images/flags/{{ player.country }}.gif" />
				{% else %}
					{{ render_form(player.form) }}
				{% endif %}
			</td>#}

			{% for region in parser_out.hit_regions %}
			<td>
				{{ player.hits[region] }}
			</td>
			{% endfor %}

			{% if parser_out.isETTV %}
			<td>
				{{ player.revives }}
			</td>
			<td>
				{{ player.revived }}
			</td>
			{% endif %}

		</tr>
	{% endif %}
{% endfor %}

</table>

{% if parser_out.mod=="etpro" %}
<div class="alert alert-info" role="alert">
  Body hits are also gibbing hits
</div>
{% endif %}

<script>
function fillForm(e, clientNum_target = false) {
	$('form').show();
	let parameters=["title","start","end"];
	if (!clientNum_target) {
		parameters.push("client_num");
	} else {
		let value=$(e).parent().parent().attr('data-client_num_target');
		$('form #client_num').attr('value',value);
		$('form #client_num').val(value);
	}
	for (i=0;i<parameters.length;i++) {
		let value=$(e).parent().parent().attr('data-'+parameters[i]);
		$('form #'+parameters[i]).attr('value',value)
		$('form #'+parameters[i]).val(value);

	}
	$('form #'+parameters[i]).change();
}

//var g_players = {#{ parser_out.g_players|tojson|safe }#};
</script>

<div>
<h2>Sprees</h2>
{% for player in parser_out.players %}
	{% for spree in player.sprees %}
		<div class="shadow-sm p-3 row" data-title="{{ player['szCleanName'] }}'s {{ spree.size() }}-man kill" data-client_num="{{ player['bClientNum'] }}" data-start="{{ spree.render_start() }}" data-end="{{ spree.render_end() }}">
			<div class="col">
				{% for kill in spree.jsons %}
					<span{% if kill.bIsTeamkill %} style="color:red;"{% endif %}>{{ kill.bAttacker }} {{ kill.bTarget }} {{ kill.szTimeString }} {{ kill.szMessage }} {{ kill.dwTime }}</span><br/>
				{% endfor %}
				<a class="btn btn-outline-primary" href="#render-form" onclick="fillForm(this);">
					<span style="width:20px" class="oi oi-video"></span> Render
				</a>
				<a class="btn btn-outline-primary" href="#cut-form" onclick="fillForm(this);">
					<span style="width:20px" class="oi oi-resize-width"></span> Cut
				</a>
			</div>
			{% if spree.renders_count %}
			<div class="col">
				<p>Renders:</p>
				<ul>
				{% for render in spree.renders %}
					<li><a href="{{ url_for('renders.render_get',render_id=render.id) }}">{{ render.title }} ({{ render.status_msg }})</a></li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
	{% endfor %}
{% endfor %}
</div>

<div>
<h2>Headshot Sprees</h2>
{% for player in parser_out.players %}
	{% for hs_spree in player.hs_sprees %}
		<div class="hs-spree shadow-sm p-3 row" data-title="{{ player['szCleanName'] }}'s {{ hs_spree.size() }}-headshots spree" data-client_num="{{ player['bClientNum'] }}" data-start="{{ hs_spree.render_start() }}" data-end="{{ hs_spree.render_end() }}">
			<div class="col">
				{{ player.szCleanName }} HS Count: {{ hs_spree.size() }} Length:{{ hs_spree.length() }}<br/>
				{% for hs in hs_spree.jsons %}
					{{ hs.bAttacker }} {{ hs.bTarget }} {{ hs.dwTime }} {{ hs.eventNum }}<br/>
				{% endfor %}
				<a class="btn btn-outline-primary" href="#render-form" onclick="fillForm(this);">
					<span style="width:20px" class="oi oi-video"></span> Render
				</a>
				<a class="btn btn-outline-primary" href="#cut-form" onclick="fillForm(this);">
					<span style="width:20px" class="oi oi-resize-width"></span> Cut
				</a>
			</div>
			{% if hs_spree.renders_count %}
			<div class="col">
				<p>Renders:</p>
				<ul>
				{% for render in hs_spree.renders %}
					<li><a href="{{ url_for('renders.render_get',render_id=render.id) }}">{{ render.title }} ({{ render.status_msg }})</a></li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
	{% endfor %}
{% endfor %}
</div>

<div>
<h2>Rifle tricks</h2>
{% for player in parser_out.players %}
	{% for trick in player.rifletricks %}
		<div class="rifletrick shadow-sm p-3 row" data-title="{{ player['szCleanName'] }}'s rifletrick" data-client_num="{{ player['bClientNum'] }}" data-client_num_target="{{ trick.jsons[0].bTarget }}" data-start="{{ trick.render_start() }}" data-end="{{ trick.render_end() }}">
			<div class="col">
				{{ player.szCleanName }} From: To: Distance: {{ "%.2f"|format(trick.jsons[0].distance) }}<br/>
					{{ trick.jsons[0].bAttacker }} {{ trick.jsons[0].bTarget }} {{ trick.jsons[0].szTimeString }} {{ trick.jsons[0].szMessage }} {{ trick.jsons[0].dwTime }} <br/>
				<a class="btn btn-outline-primary" href="#render-form" onclick="fillForm(this);">
						<span style="width:20px" class="oi oi-video"></span> Render
				</a>
				<a class="btn btn-outline-primary" href="#render-form" onclick="fillForm(this,true);">
						<span style="width:20px" class="oi oi-video"></span> Render target POV
				</a>
				<a class="btn btn-outline-primary" href="#cut-form" onclick="fillForm(this);">
					<span style="width:20px" class="oi oi-resize-width"></span> Cut
				</a>
			</div>
			{% if trick.renders_count %}
			<div class="col">
				<p>Renders:</p>
				<ul>
				{% for render in trick.renders %}
					<li><a href="{{ url_for('renders.render_get',render_id=render.id) }}">{{ render.title }} ({{ render.status_msg }})</a></li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
	{% endfor %}
{% endfor %}
</div>

<form method="post" id="render-form" action="/renders" onsubmit="return validateRenderForm()" enctype="multipart/form-data" class="form-horizontal card">
    <div class="card-header">Render parameters</div>
	<div class="card-body">
		{{ render_form(rndr_form) }}
		{{ render_form(cut_form) }}
		{{ render_btn("Render") }}
		<hr/>
		<label for="client_num" class="col-sm-offset-2">
			<sup>*</sup> Client number only needed for ETTV demo to choose POV
		</label>
		<label for="crf" class="col-sm-offset-2">
			<sup>**</sup>
			<a href="https://trac.ffmpeg.org/wiki/Encode/H.264#crf">ffmpeg's crf</a>
			lower value - higher quality
		</label>
	</div>
</form>

<form method="post" id="cut-form" action="/cut" enctype="multipart/form-data" class="form-horizontal card">
    <div class="card-header">Cut parameters</div>
	<div class="card-body">
		{{ render_form(cut_form) }}
		{{ render_btn("Cut") }}
		<hr/>
		<label for="client_num" class="col-sm-offset-2">
			<sup>*</sup> Client number only needed for ETTV demo to choose POV
		</label>
	</div>
</form>
<script src="{{ url_for('static', filename='input-spinner.js')}}"></script>
<script>
function validateRenderForm() {
	var demo = {{ parser_out.demo|tojson|safe }}
	var form = $("#render-form");
    var start = parseInt(form.find("input[name='start']").val());
    var end = parseInt(form.find("input[name='end']").val());
    var length = end-start;
	if (length < 4000) {alert("render must be atleast 4 seconds long");return false;}
	if (length > 40000) {alert("render cant be longer than 40 seconds");return false;}
	if (demo.dwStartTime+2000 > start) {alert("render start time must be atleast 2 seconds after demo start time");return false;}
	if (demo.dwEndTime < end) {alert("render end time must be before demo end time");return false;}
}
</script>

{#
<div style="">
	<h3>Hit regions</h3>
	<p>
		Hitregions:
		131 - body or dead body(gibbing)
		130 - head
		0 - target has spawnshield
		132 teammate hit
	</p>
	<table>
		<tr><td>Player</td><td>Hitregion</td><td>Count</td></tr>
	{% for row in parser_out.hits %}
		<tr>
			{% for column in row %}
			<td>{{ column }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
	</table>
</div>
#}

<h2>Demo info</h2>
{% for data in parser_out.demo %}
	{% if data=='szServerConfig' %}
		<b>{{ data }}</b> <pre>{{ parser_out.demo[data] }} </pre>
	{% else %}
		<b>{{ data }}</b> {{ parser_out.demo[data] }} <br/>
	{% endif %}
{% endfor %}

<h2>Round info</h2>
{% for round in parser_out.rounds %}
	{% for data in round %}
		{% if data=='szEndRoundStats' %}
			<b>{{ data }}</b> <pre>{{ round[data] }} </pre>
		{% else %}
			<b>{{ data }}</b> {{ round[data] }} <br/>
		{% endif %}
	{% endfor %}
{% endfor %}

<div class="timeline">

</div>

<h2>Chat</h2>
<table>
{% for chat in parser_out.chat %}
	<tr>
		<td>
			{% for player in parser_out.players if player.bClientNum==chat.bPlayer %}
				{{ player.szCleanName }}
			{% endfor %}
			 [{{ chat.szTimeString }}]:
		</td>
		<td>
			{{ chat.szMessage }}
		</td>
	</tr>
{% endfor %}
</table>
<div class="card overflow-auto">
	<div class="card-header">Raw output</div>
	<pre class="card-body">{{ out }}</pre>
</div>
{% endblock %}