{% macro render_field(field) %}
    {% if field.type!="CSRFTokenField" and field.type!="HiddenField" %}
        <div class="form-group row frm-{{ field.name }}">
            {{ field.label(class_="col-form-label col-sm-4") }}
            <div class="col-sm-8">
                {% if field.name == "start" or field.name == "end" %}
                    <div class="input-group">
                        <div class="input-group-prepend"><button class="btn btn-decrement btn-outline-secondary" type="button">
                            <strong>-</strong></button>
                        </div>
                        {{ field(class_="form-control",**kwargs)|safe }}
                        <div class="input-group-append">
                            <button class="btn btn-increment btn-outline-secondary" type="button">
                                <strong>+</strong></button>
                        </div>
                    </div>
                {% else %}
                    {{ field(class_="form-control",**kwargs)|safe }}
                {% endif %}
            </div>
        </div>
    {% else %}
        {{ field(class_="form-control",**kwargs)|safe }}
    {% endif %}
{% endmacro %}

{% macro render_form(form) %}
    {% for field in form %}
            {{ render_field(field) }}
    {% endfor %}
{% endmacro %}

{% macro render_btn(text="Submit") %}
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-outline-primary" value="{{ text }}"/>
    </div>
</div>
{% endmacro %}

{% macro plus_minus_wrap(input_html) %}
<div class="input-group">
    <div class="input-group-prepend"><button class="btn btn-decrement btn-outline-secondary" type="button">
        <strong>-</strong></button>
    </div>
    {{ input_html }}
    <div class="input-group-append">
        <button class="btn btn-increment btn-outline-secondary" type="button">
            <strong>+</strong></button>
    </div>
</div>
{% endmacro %}