<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Greatshot {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <a class="navbar-brand align-middle" href="#">
                <img src="{{ url_for('static', filename='logo-plain.svg') }}" width="160" class="d-inline-block" alt="" loading="lazy">
                Greatshot
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" href="/cut"><span>✂</span> Cut</a></li>
                <li class="nav-item"><a class="nav-link" href="/export"><span>🔍</span> Export</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.download_static', path='') }}"><span>⬇️</span> Download</a></li>
                <li class="nav-item"><a class="nav-link" href="https://discord.gg/p59kWdF"><img alt="discord" src="/static/discord.svg" style="height: 1.5em">Discord</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=BRRRFPT7N9NP6&amp;currency_code=EUR&amp;source=url">
                        <img alt="Donate" src="https://img.shields.io/badge/Donate-PayPal-green.svg">
                    </a>
                </li>
            </ul>

        </nav>
        <div id="content">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-warning">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block content %}{{ msg|safe }}{% endblock %}
        </div>
        <div id="footer">
            <hr/>
            {% block footer %}
            created by <a href="https://github.com/mittermichal">Michal 'Kimi' Mitter</a>.
            <a class="btn btn-outline-primary" href="https://github.com/mittermichal/advanced-gamestv-stats"><img alt="github" width="16" height="16" src="/static/mark-github.svg"/> View on Github</a>
            {% endblock %}
        </div>
    </div>
</body>
</html>
