{% extends "layout.html" %}
{% block title %}Render output{% endblock %}

{% macro render_streamable(shortcode) %}
<div class="wrap">
    <a href="https://streamable.com/{{ shortcode }}">streamable.com - HD version* </a>
    <div style="width: 100%; height: 0px; position: relative; padding-bottom: 56.250%;">
        <iframe src="https://streamable.com/e/{{ shortcode }}" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no" style="width: 100%; height: 100%; position: absolute;"></iframe>
    </div>
    <p>*HD doesn't work with embeded video</p>
</div>
{% endmacro %}

{% block content %}
<h1>{{ render.title }}</h1>
{% if render.streamable_short %}
  {{ render_streamable(render.streamable_short) }}
{% else %}
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
<script>

function get_worker_last_beat(element){
        $.ajax({url: "/get_worker_last_beat", dataType: "json", success: function(data){
            element.append("</br>" + data);
        }
    });
}

function doPoll(firstPoll=false){

  $.ajax({url: "{{ url_for('renders.render_status_get', render_id=render.id) }}", dataType: "json", success: function(task){
        if (!firstPoll && task.status_msg=='started') {
          $('.progress-bar').css({'width': 100 + '%'});
          $('.progress-bar').html("No rendering worker available, reload page later");
          setTimeout(doPoll,30000);
          get_worker_last_beat($('#progress-info-more').html("Rendering is done on my PC. If there is no rendering worker available, that means I don't have it turned on, but your request is enqueued, so you don't have to send it again. It will get processed when I turn on the worker. You can PM me on discord if its OFF and you want to render something."));
        }
        else if (task.status_msg!='finished') {
          $('.progress-bar').css({'width': task.progress + '%'});
          $('.progress-bar').html(task.status_msg);
          if (task.progress!=100) setTimeout(doPoll,3000);
         } else {
          $('#progress-info').hide();
          $('#render-video video source').attr('src','{{ video_url }}');
          $('#render-video video')[0].load();
          $('#render-video').show();
        }
    }});
}
</script>

{% if render.progress %}
    {% set progress = render.progress %}
{% else %}
    {% set progress = '100' %}
{% endif %}




{% if not video_exists %}
    {% if render.progress!=100 %}
    <script>
        $(function() {
          setTimeout(function(){doPoll(true)},3000);
        });
    </script>
    {% endif %}
    <div id="progress-info">
        <div class="progress bg-dark">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:{{ render.progress }}%; overflow: visible;">
              {{ render.status_msg }}
          </div>
        </div>
        <div id="progress-info-more"></div>
    </div>
{% endif %}

<div id="render-video"{% if not video_exists %} style="display:none;"{% endif %}>
    <video controls>
            <source src="{{ video_url }}" type="video/mp4">
    </video>
    {# <input type="text" class="form-control" value="{{ video_url }}" readonly> #}
    <a href="{{ download_url }}">
        <span class="oi oi-data-transfer-download m1" style="font-size:48px"></span>
    </a>
</div>

<pre>
    {{ render }}
</pre>


{% endif %} {# if render.streamable_short #}
{% endblock %}

